.userForm {
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  &__inputsGroup {
    padding-bottom: 20px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
  }

  &__label {}

  &__input {
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 0 10px;
  }

  &__btnsGroup {}

  &__button {
    background-color: #337ab7;
    color: white;
    border: 1px solid #034a87;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }
}

table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  thead th {
    border: 1px solid black;
    border-bottom: 2px solid #000;
  }
  tbody td {
    border: 1px solid grey;
  }
  tr,td,th {
    padding: 6px;
  }
}